// ==========================================================================
// BASE
// ==========================================================================

// Settings + Tools
// ==========================================================================
@import "common";
.block-form {
	margin: 0 auto;

    @include media-breakpoint-up(lg) {
    	-ms-flex: 0 0 66.66667%;
	    flex: 0 0 66.66667%;
	    max-width: 66.66667%;
    }
}
.form--contact__info {
	font-size: $base-font-size;
	text-align: center;
	padding-bottom: 2em;
}
.map_title {
	text-transform: uppercase;
	font-weight: 400;
	color: rgba($color-black, 0.5);
}
/* --Studio2Let-- */






	



