// TYPE
// ==========================================================================

// Based from csswizardry
// https://github.com/csswizardry/csswizardry.github.com/blob/master/css/_base.page.scss
// https://raw.githubusercontent.com/csswizardry/csswizardry.github.com/master/css/_base.type.scss
* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  @include font-weight( $base-font-weight );
  
  font-family: $base-font-family;
  font-size: ($base-font-size / 16px) * 0.8em; // [1]
  line-height: $base-line-height / $base-font-size; // [1]
  background-color: $color-base-bg;
  color: $color-base-txt;
  overflow-y: scroll; // [2]
  min-height: 100%; // [3]
  -webkit-text-size-adjust: 100%; // [4]
      -ms-text-size-adjust: 100%; // [4]
  // -moz-osx-font-smoothing: grayscale; // [5]
  //  -webkit-font-smoothing: antialiased; // [5]
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

@media screen and (min-width: 80em) { // >= 1600px
  html {
    font-size: ($base-font-size / 16px) * 1em; // [1]
  }
}


html[lang='ja'] {
	font-family: $font-japanese;
  font-size: 32px;
}

// Emboldened elements.
html[lang='en-US'] {
	dt {
		@include font-weight( semibold );
	} 
}

// Horizontal rules.
hr {
	border: none;
	border-bottom: 1px solid $color-gray-ccc;
	margin-bottom: $base-spacing-unit - 1px;
}


blockquote {
	margin: 0 2.5em;
	font-style: italic;
	color: $color-gray;
}

abbr {
	cursor: help;
}

acronym {
	text-transform: uppercase;
	border-bottom: 1px dashed #666;
	cursor: help;
}

/* Delete and insert */
ins, dfn {
	font-style: italic;
	text-decoration: none;
	border-bottom: 1px solid #666;
}

a {
  color: $color-base-link;
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;

  @include attention() {
    text-decoration: underline;
  }
}

body {
  font-family: $site-font;
  color: $color-warm-grey;
  background-color: $color-gray-body;
}
a:hover {
  text-decoration:none;
}

%vertical-align {
  position: relative;
  top: 50%; 
  transform: translateY(-50%);
}


%grayscale {
  filter: grayscale(100%);
  transition: filter $default-duration;
}

%none-grayscale {
  filter: grayscale(0);
}

%fl {
  float: left;
}

%fr {
  float: right;
}

%fn {
  float: none;
}
%list-unstyled {
  list-style: none;
}