// FORM
// ==========================================================================
$off-wht: $color-gray-ccc;
$btn-color-text: $color-white;

textarea,
input[type="text"] {
	appearance: none;
	border-radius: 0;
	background-clip: padding-box;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {font-family: $font-helvetica; color: $color-gray-ccc; text-transform: uppercase;}
input:-ms-input-placeholder,
textarea::-ms-input-placeholder {font-family: $font-helvetica; color: $color-gray-ccc; text-transform: uppercase;}
input:-moz-placeholder,
textarea:-moz-placeholder{font-family: $font-helvetica; color: $color-gray-ccc; text-transform: uppercase;}
input::-moz-placeholder,
textarea::-moz-placeholder  {		
	font-family: $font-helvetica;
	color: $color-gray-ccc;	
	text-transform: uppercase;
}

textarea {
	resize: none;
}

button {background: transparent; outline: 0 none;}

.btn {
	font-family: $base-font-family;
	font-weight: 700;
	padding: 5px 20px;
	border-radius: 0;
	text-transform: uppercase;
	line-height: 30px;
	letter-spacing: 2px;
	font-weight: 400;
	text-align: center;

	&:hover,
	&:focus {
		outline: 0 none;
	}

	&-reset {
		margin: 0 20px;
		background: url(img/border-double.png) repeat-x 0 100%;
		color: $color-brand-1;
		padding: 0;
		border: 0 none;

		&:hover,
		&:focus {
			background-color: transparent;
			color: $color-brand-1;
			border: 0 none;
			background: url(img/border-double.png) repeat-x 0 100%;
			box-shadow: none;
		}
	}
}

.btn-default {
	color: $color-gray-light;
	border: 1px solid $color-gray-light;
}
.btn-red {
	@include btn-theme($color-red-logo);
}

.label-form {
	display: block;
	font-size: 15px;
	margin-bottom: 3px;
}

.form__row {
	position: relative;
	padding-bottom: 20px;

	@include media-breakpoint-down(md) {
		[class*="col-"]:first-child {
			margin-bottom: 20px;
		}
	}
}

.form__input {
  width: 100%;
  height: 48px;  
  font-family: $font-helvetica;
  background: $color-white;
  font-size: $small-font-size;
  padding: 5px 10px;
  border: solid 1px $color-gray-ccc;


  &.is-input-readonly {
  	color: $color-gray-ccc;
  	&:active,
	  &:focus {
	    border: 0 none;
	    outline: none;
	  }
  }


  &:active,
  &:focus {    
    outline: none;
  }

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.5;
  } 
  
}

.form__area {
	@extend .form__input;

	height: 100px;
}

.custom-select {
  width: 100%;
  position: relative;
  border: 1px solid $color-gray-ccc;
  height: 48px;
  color: $color-gray-ccc;
  background: $color-white;

  &:after {
  	position: absolute;
  	top: -1px;
  	right: 0;
  	content: "\e904";
  	font-family: 'icomoon';
  	width: 48px;
  	height: 48px;
  	line-height: 24px;
  	color: $color-white;
  	background-color: $color-red-logo;
  	font-size: 10px;
  	padding: 15px 12px;
  	text-align: center;
  }

  select {
  	padding: 5px 40px 5px 10px;
  	border:none;
  	background-color: transparent;
  	display: block;
  	height: 48px;
  	width: 100%;
  	position: absolute;
  	z-index: 2;
  	appearance: none;
  	box-shadow: 0 none;
  	text-transform: uppercase;
  	color: $color-gray-ccc;

  	&:hover,
  	&:focus {
  		outline: 0 none;
  		box-shadow: 0 none;
  	}
  }

  &:hover,
  &:focus {
  	select {
  		outline: 0 none;
  		box-shadow: 0 none;
  	}
  }
}

.form__row--action {
	text-align: center;

	@include media-breakpoint-up(lg) {
		text-align: right;
	}
}

.btn-send {
	min-width: 140px;
}

.header-qs_btn {
	display: block;
	margin: 0 auto;
}
.header-qs {
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 100%;
	&_fields {
		display: none;
	}
	&_btn {
		background-color: $color-red-logo;
		text-align: center;
		max-width: 180px;
		margin: 0 auto;
	}
	.qs__btn-submit {
		border:none;
		background: none 0 0 transparent;
		color: $color-white;
		padding: 15px;
		text-transform: uppercase;
		display: block;
		width: 100%;
		height: 100%;
	}
	@include media-breakpoint-up(lg) {
		display: flex;
		flex-wrap: wrap;
		width: auto;
		&_fields {
			padding: 1em;
			background-color: $color-white;
			display: flex;
		}
		&_btn {
			align-items: center;
			display: flex;
			width: 200px;
		}
	}
}
.qs__field {
	text-transform: uppercase;
	display: flex;
	align-items: center;
	&.qs__label {
		padding-left: 10px;
		font-size: 10px;
		max-width: 110px;
		vertical-align: middle;
	}
	&.qs__select {
	  width: 230px;
	  position: relative;
	  border: 1px solid $color-gray-ccc;
	  &:after {
	  	position: absolute;
	  	top: -1px;
	  	right: 0;
	  	content: "\e904";
	  	font-family: 'icomoon';
	  	width: 40px;
	  	height: 40px;
	  	color: $color-white;
	  	background-color: $color-red-logo;
	  	font-size: 10px;
	  	padding: 15px 12px;
	  }
	  select {
	  	padding:5px 40px 5px 5px;
	  	height: 38px;
	  	border:none;
	  	background-color:$color-white;
	  	&.error {
		  	border: 1px solid $color-red-logo;
		  	color: $color-red-logo;
		}
	  }
	}
	&.qs__datepicker {
		padding: 0 0 0 5px;
		width: 215px;
		position: relative;
		&:after {
	  	position: absolute;
	  	top: 0px;
	  	right: 0px;
	  	content: "\e900";
	  	font-family: 'icomoon';
	  	width: 40px;
	  	height: 40px;
	  	color: $color-white;
	  	background-color: $color-red-logo;
	  	font-size: 16px;
	  	padding: 10px 11px;
	}
		span {
			color: $color-gray;
			position: absolute;
			font-size: 12px;
			top: 11px;
			left: 10px;
		}
		input {
			border: 1px solid $color-gray-ccc;
			width: 100%;
			padding: 5px 45px 5px 40%;
		}
	}
	select {
	  width: 100%;
	  appearance: none;
	  -moz-appearance: none;
	  -webkit-appearance: none;
	  white-space: nowrap;
	  border-radius: 0;
	  color: $color-gray;
	  text-transform: uppercase;
	  font-size: 12px;
	  &:active,
	  &:focus {    
	    outline: none;
	  }
	}
	input{
	  height: 40px;
	  appearance: none;
	  -moz-appearance: none;
	  -webkit-appearance: none;
	  border: none;
	  box-shadow: none;
	}
}