// FORM
// ==========================================================================
$off-wht: rgba($color-black, 0.3);
$btn-color-text: $color-white;

textarea,
input[type="text"] {
	appearance: none;
	border-radius: 0;
	background-clip: padding-box;
}
input::-webkit-input-placeholder {font-family: $font-helvetica; color: $color-gray-ccc; text-transform: uppercase;}
input:-ms-input-placeholder {font-family: $font-helvetica; color: $color-gray-ccc; text-transform: uppercase;}
input:-moz-placeholder {font-family: $font-helvetica; color: $color-gray-ccc; text-transform: uppercase;}
input::-moz-placeholder {		
	font-family: $font-helvetica;
	color: $color-gray-ccc;	
	text-transform: uppercase;	
}

textarea {
	resize: none;
}

button {background: transparent; outline: 0 none;}

.btn {
	font-family: $base-font-family;
	font-weight: 700;
	padding: 5px 20px;
	border-radius: 0;
	text-transform: uppercase;
	line-height: 30px;
	letter-spacing: 2px;
	font-weight: 400;
	text-align: center;
}

.btn-default {
	color: $color-gray-light;
	border: 1px solid $color-gray-light;
}
.btn-red {
	@include btn-theme($color-red-logo);
}

.label-form {
	display: block;
	font-size: 15px;
	margin-bottom: 3px;
}

.form-row {
	position: relative;
}

.form-input {
  width: 100%;
  height: 48px;  
  font-family: $font-helvetica;
  border: 0 none;  
  background: $color-white;
  font-size: $small-font-size;
  padding: 5px 10px;


  &.is-input-readonly {
  	color: $color-gray-ccc;
  	&:active,
	  &:focus {
	    border: 0 none;
	    outline: none;
	  }
  }


  &:active,
  &:focus {    
    outline: none;
  }

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.5;
  } 
  
}
.header-qs_btn {
	display: block;
	margin: 0 auto;
	
}
.header-qs {
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 100%;
	&_fields {
		display: none;
	}
	&_btn {
		background-color: $color-red-logo;
		text-align: center;
		max-width: 200px;
		margin: 0 auto;
	}
	.qs__btn-submit {
		border:none;
		background: none 0 0 transparent;
		color: $color-white;
		padding: 15px;
		text-transform: uppercase;
		display: block;
		width: 100%;
		height: 100%;
	}
	@include media-breakpoint-up(lg) {
		&_fields {
			padding: 1em;
			background-color: $color-white;
			display: table-cell;
		}
		&_btn {
			display: table-cell;
			width: 200px;
		}
	}
}
.qs__field {
	text-transform: uppercase;
	display: table-cell;
	&.qs__label {
		padding-left: 10px;
		font-size: 10px;
		max-width: 110px;
		vertical-align: middle;
	}
	&.qs__select {
		width: 230px;
	  position: relative;
	  border: 1px solid $color-gray-ccc;
	  &:after {
	  	position: absolute;
	  	top: -1px;
	  	right: 0;
	  	content: "\e904";
	  	font-family: 'icomoon';
	  	width: 40px;
	  	height: 40px;
	  	color: $color-white;
	  	background-color: $color-red-logo;
	  	font-size: 10px;
	  	padding: 15px 12px;
	  }
	  select {
	  	padding:5px 40px 5px 5px;
	  	border:none;
	  	background-color:$color-white;
	  }
	}
	&.qs__datepicker {
		padding: 0 0 0 5px;
		width: 215px;
		position: relative;
		&:after {
	  	position: absolute;
	  	top: 0px;
	  	right: 0px;
	  	content: "\e900";
	  	font-family: 'icomoon';
	  	width: 40px;
	  	height: 40px;
	  	color: $color-white;
	  	background-color: $color-red-logo;
	  	font-size: 16px;
	  	padding: 10px 11px;
	  }
		span {
			color: $color-gray;
			position: absolute;
			font-size: 12px;
			top: 11px;
			left: 10px;
		}
		input {
			border: 1px solid $color-gray-ccc;
			width: 100%;
			padding: 5px 45px 5px 35%;
		}
	}
	select {
	  width: 100%;
	  appearance: none;
	  -moz-appearance: none;
	  -webkit-appearance: none;
	  white-space: nowrap;
	  border-radius: 0;
	  color: $color-gray;
	  text-transform: uppercase;
	  font-size: 12px;
	  &:active,
	  &:focus {    
	    outline: none;
	  }
	}
	input{
	  height: 40px;
	  appearance: none;
	  -moz-appearance: none;
	  -webkit-appearance: none;
	  border: none;
	  box-shadow: none;
	}
}